<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  <FilesMatch "\.(json|js|css|png|jpg|svg)$">
      Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Ignore requests to the /assets/ directory
  RewriteCond %{REQUEST_URI} !^/assets/ [NC]
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>